= "Hi #{@email.fetch(:first_name)},"
<br/>
<br/>
= "Thank you for making reservation with us. Your confirmation number is #{@email.fetch(:confirmation_number)} for your rental from #{format_date_time(@email.fetch(:pickup))} to #{format_date_time(@email.fetch(:drop_off))}."
<br/>
<br/>
= "If you have any questions, please feel free to reach out at (909) 318-0450 or samay@gimmecar.com."
<br/>
<br/>
= "*****"
<br/>
<br/>
= "GimmeCar"
<br/>
= "(909) 318-0450"
<br/>
= "team@gimmecar.com"
