= "New Reservation"
<br/>
<br/>
= "Confirmation #: #{@email.fetch(:confirmation_number)}"
<br/>
= "Name: #{@email.fetch(:first_name)} #{@email.fetch(:last_name)}"
<br/>
= "Email: #{@email.fetch(:email)}"
<br/>
= "#: #{@email.fetch(:phone_number)}"
<br>
= "#: #{@email.fetch(:vehicle_type)}"
<br/>
= "Pickup: #{format_date_time(@email.fetch(:pickup))}"
<br/>
= "Drop Off: #{format_date_time(@email.fetch(:drop_off))}"
