= "New Reservation"
<br/>
<br/>
= "Confirmation #: #{@email.fetch(:confirmation_number)}"
<br/>
= "Name: #{@email.fetch(:name_first)} #{@email.fetch(:name_last)}"
<br/>
= "Email: #{@email.fetch(:email)}"
<br/>
= "#: #{@email.fetch(:phone_number)}"
<br>
= "Vehicle Type: #{@email.fetch(:vehicle_type)}"
<br>
= "Location: #{@email.fetch(:location)}"
<br/>
= "Pickup: #{format_time(@email.fetch(:pickup))}"
<br/>
= "Drop Off: #{format_time(@email.fetch(:drop_off))}"
