{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ">0.25%",
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
