@import '~Styles/global/colors'
@import '~Styles/global/layout'
@import '~Styles/global/type'

.panel-main-details,
.panel-details-link
  margin: 0
  border-bottom: 1px solid $border-color-light
  width: 100%

  dt,
  dd
    padding-top: $padding-sm
    padding-bottom: $padding-sm

    font-size: $font-size-default

  dt
    color: $black-light

  dd
    color: $black

.panel-main-details
  float: left
  width: 100%

  .panel-main-detail
    display: flex
    flex-direction: row

    dt
      float: left
      width: 100%

  dt,
  dd
    float: left
    border-top: 1px solid $border-color-light

  dt
    width: 35%
    padding-left: $padding-sm
    padding-right: $padding-sm

    color: $black-light
    text-align: left

  dd
    width: 65%
    padding-right: $padding-sm
    padding-left: $padding-sm

    color: $black
    text-align: right

  span.description
    font-size: $font-size-default - 0.0625rem
    color: $silver

.panel-details-link
  margin: 0
  float: left
  width: 100%

  background: $white
