@import '~Styles/global/colors'
@import '~Styles/global/layout'
@import '~Styles/global/type'

.panel-form-popup
  width: 30rem
  max-width: 100%

.panel-form
  width: 100%
  float: left
  margin: 0 auto

.panel-form-padding
  padding: 0 $padding-default

.panel-form-header
  width: 100%
  float: left
  margin: $padding-sm 0
  padding-left: $input-margin-x
  padding-right: $input-margin-x
  font-weight: 600

.panel-form-popup-header
  width: 100%
  float: left
  margin: $padding-default 0
  padding-left: $input-margin-x
  padding-right: $input-margin-x
  font-weight: 400

.panel-popup-form-content,
.panel-popup-form-footer
  background: $background-color-contrast

.panel-popup-form-content
  padding-top: $padding-sm
  padding-bottom: $padding-default

.panel-popup-form-footer
  border-top: 0.125rem solid $white
