@media screen and (max-width: 37.5rem)
  html
    font-size: 90%

  .one-third,
  .two-thirds,
  .one-fourth,
  .one-half,
  .three-fourths,
  .one-fifth,
  .two-fifths,
  .three-fifths,
  .four-fifths
    width: 100%


  #billboard-reservation-date
    width: 50%

  #billboard-reservation-location,
  #billboard-reservation-submit
    width: 100%
