@import "global/layout"

.flash
  padding: $padding-sm
  margin-bottom: $margin-sm

  border: 1px solid $border-color-panel
  border-radius: 0.125rem
  background: $background-color-panel

  font-size: $font-size-default

  p
    margin: 0
    line-height: 1rem
