@import "global/colors"
@import "global/type"
@import "global/layout"

footer
  width: 100%
  background: $background-color-footer
  color: #eaeaea

#footer-content
  padding: $padding-lg 0

  h4
    margin: 0

    font-size: $font-size-default + 0.125rem
    font-weight: 700

  dl
    margin: 0
    font-size: $font-size-default

  dt
    margin: $margin-default 0 0
    font-weight: 700

  dd
    margin: 0

#footer-copyright
  margin: $margin-default 0

  > *
    margin: $margin-default 0
    line-height: $font-size-default + 0.25rem

  h1
    font-size: $font-size-default + 0.25rem

  ul
    li
      margin: 0 $margin-sm
      list-style: none
      font-size: $font-size-default

      &:last-of-type
        margin-right: 0
