.input-container
  width: 100%
  float: left

.input-block
  width: 100%
  float: left
  border-bottom: 2px solid $border-color-light

.input-submit
  padding-top: 0.75rem

.input-label
  float: left
  width: 100%
  position: absolute
  top: 0.75rem
  left: 0.75rem

  font-size: 0.875rem
  font-weight: 700
  line-height: 1.25rem
  text-align: left

  cursor: pointer

.input-label-note
  color: #999999

.input-field
  width: 100%
  float: left

  margin: (1.25rem + 0.75rem*2) 0 -2px
  padding: 0.25rem 0.75rem 0.75rem

  background: rgba(255, 255, 255, 1)
  border: 0
  border-radius: 0
  border-bottom: 2px solid $border-color-light

  cursor: pointer
  font-size: $font-size-default
  font-family: "Hack"

  -webkit-appearance: none

  &:focus
    border-color: $blue
