$input-padding-y: $padding-ex-sm/2
$input-margin-x: $margin-ex-sm/2

.form-container
  width: 100%

  margin: 0 auto

.form-header.form-header-first
  margin-top: 0

  &:before
    content: ' '
    height: 0.125rem
    width: 3rem
    display: block
    margin-bottom: $padding-default

    background: $blue


.form-header
  width: 100%
  margin: $padding-default 0 $padding-sm
  font-weight: 700

.input-row,
.input-submit,
.input-label,
.input-field
  width: 100%
  float: left

.input-container
  float: left
  padding: 0
  margin: 0

.input-submit
  padding-top: $padding-default
  padding-bottom: $padding-default

.form-header,
.input-block
  float: left
  padding-left: $input-padding-y
  padding-right: $input-padding-y

.input-flex-container
  display: flex
  flex-direction: row

  .input-element-fixed
    width: auto

  .input-element-flex
    flex: 1

.input-label
  padding-top: $padding-sm
  padding-left: $input-padding-y
  padding-right: $input-padding-y
  margin: 0

  font-size: 0.75rem
  font-weight: 700
  line-height: 1.25rem
  text-align: left

  cursor: pointer

h6.input-label
  font-size: 1rem

.input-label.input-lg
  padding-top: $padding-default
  font-size: 0.875rem

.input-label-note
  font-weight: 400
  color: $text-color-light

.input-field
  height: $input-height
  margin: $input-margin-x 0
  padding: $padding-sm
  position: relative

  background-color: $background-color-input
  border-radius: 0.125rem
  border: 1px solid $border-color-input

  cursor: pointer
  font-size: 0.75rem
  font-family: "Hack"
  font-weight: 400

  &::-webkit-input-placeholder,
  &::-input-placeholder,
  &::input-placeholder,
  &::placeholder,
    color: $text-color-placeholder

.input-field:focus,
.StripeElement--focus
  z-index: 2
  border-color: $blue
  background-color: $white
  box-shadow: 0 0 0 0.0625rem lighten($blue, 30%)

.input-field.input-lg
  height: $input-height-lg
  font-size: $font-size-default

.input-field,
.input-range,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

select.input-field
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>")
  background-repeat: no-repeat
  background-size: 0.75rem
  background-position: right $padding-sm center

  option:disabled
    color: $text-color-placeholder

input[type=checkbox].input-field
  height: $input-height - 1rem
  width: $input-height - 1rem
  margin: ($input-margin-x + 0.5rem) 0
  padding: 0
  position: relative

  background-color: $background-color-input
  border-radius: 0.125rem
  border: 1px solid $border-color-input
  color: $background-color-input

  cursor: pointer

  &:focus
    box-shadow: none

  &:checked
    border-color: $blue
    background-color: $blue

input.input-range
  width: 100%
  float: left
  margin: ($input-height/2 - 0.25rem + $input-margin-x) 0 $input-margin-x 0

  &:focus
    outline: none

    &::-webkit-slider-thumb
      border-color: $blue
      box-shadow: 0 0 0.125rem 0 lighten($blue, 20%)

  &::-webkit-slider-runnable-track
    width: 100%
    height: 0.5rem
    cursor: pointer
    background: $border-color-light
    border-radius: 0.125rem

  &::-webkit-slider-thumb
    height: 1.5rem
    width: 0.75rem
    margin-top: -(1.5rem/2 - 0.25rem)

    border: 0.0625rem solid $border-color-input
    border-radius: 0.125rem
    background: $white
    cursor: pointer

    -webkit-appearance: none

.input-contrast
  border-color: $border-color-input-contrast
  background-color: $background-color-input-contrast

.input-field.input-field-error,
.input-field-error .input-field,
.StripeElement--invalid
  color: $text-color-red
  border-color: $border-color-red
  background-color: $white

.input-field.input-field-error:focus,
.input-field-error .input-field:focus,
.StripeElement--invalid.StripeElement--focus
  border-color: $border-color-red
  box-shadow: 0 0 0 0.0625rem lighten($red, 23%)

.input-error-message
  float: left
  margin: -$input-margin-x $input-padding-y $input-margin-x
  padding: $input-margin-x $padding-ex-sm

  border: 1px solid $border-color-yellow
  border-top: 0
  border-bottom-left-radius: 0.125rem
  border-bottom-right-radius: 0.125rem
  background-color: $background-color-yellow

  text-align: left
  font-size: 0.75rem
  font-weight: 700
  color: #444444

.input-error-message:empty
  display: none

.input-error-message.input-lg
  font-size: $font-size-default
  padding: $padding-ex-sm
