@import "global/colors"
@import "global/layout"

.panel
  float: left
  width: 100%
  margin-bottom: $margin-default

  border: 1px solid $border-color-panel
  border-radius: 0.125rem
  background-color: $background-color-panel

.panel-base
  box-shadow: 0 0.375rem 0.5rem rgba(102, 119, 136, .03), 0 0.0625rem 0.125rem rgba(102, 119, 136, .1), 0 -0.0625rem 0.0625rem rgba(102, 119, 136, .03)
  border: 0

.panel-padding
  padding: $padding-default
  padding-bottom: 0

.panel-list-header
  margin-bottom: $margin-sm

  font-size: $font-size-default
  font-weight: 700
  text-transform: uppercase
  color: $silver

.panel-list
  list-style-type: none

.panel-base-header
  float: left
  display: flex
  flex-direction: row
  width: 100%

  padding: $padding-default 0

  h2
    margin: 0 0 0 $margin-default
    float: left
    font-size: 1.25rem
    font-weight: 400

  .flex-element
    margin: 0 $margin-default 0 0

  h2,
  .flex-element
    flex: 1
    align-self: center
