@import "global/colors"
@import "global/layout"

.panel
  margin-bottom: $margin-default

  border: 1px solid $border-color-panel
  border-radius: 0.125rem
  background-color: $background-color-panel

.panel-padding
  padding: $padding-sm

.panel-list-header
  margin-bottom: $margin-sm

  font-size: $font-size-default
  font-weight: 700
  text-transform: uppercase
  color: #888888

.panel-list
  list-style-type: none
