.panel-table
  width: 100%
  position: relative
  border-collapse: collapse

  font-size: 0.8125rem
  text-align: left
  font-weight: 400

  td:first-of-type,
  th:first-of-type
    padding-left: $padding-default

  td:last-of-type,
  th:last-of-type
    padding-right: $padding-default

  td,
  th
    margin: 0
    padding: $padding-sm

  thead
    background: $white-dark
    color: $black-ex-light
    font-size: 0.6875rem
    text-transform: uppercase
    border-top: 1px solid $border-color-light
    border-bottom: 1px solid $border-color-light

    th
      font-weight: 600

  tbody
    td.checkbox
      padding-right: 0
      width: 1rem + $padding-sm

    tr
      background: $background-color-panel
      border-top: 1px solid $border-color-light

      vertical-align: middle
      color: $black-light

      &:hover
        color: $black

    .clickable
      cursor: pointer

    tr.selected
      font-weight: 600
      color: $black

  tbody.alternate-color
    tr
      background: $white-dark
      border-top: 0
      border-bottom: 0

    tr:nth-child(even)
      background: $background-color-panel

.panel-table.panel-table-key-pair
  table-layout: fixed
  margin-top: 0
  margin-bottom: 0

  tr
    border-top: 1px solid $border-color-light
    vertical-align: top

  td,
  th
    padding-top: $padding-sm
    padding-bottom: $padding-sm

  td:first-of-type,
  th:first-of-type
    padding-left: $padding-default
    padding-right: $padding-sm

    width: 35%
    font-weight: 400
    text-align: left
    color: $black-light

  td:nth-of-type(2),
  th:nth-of-type(2)
    padding-right: $padding-default
    padding-left: $padding-sm

    text-align: right
    color: $black

  span.description
    font-size: $font-size-default - 0.0625rem
    color: $silver
