$red = #f73b47
$yellow = #eabb28
$green = #1aca82
$blue = #03a9f4
$purple = #a82c7c

$default-gray = #efefef

// TEXT COLORS
$text-color-red = darken($red, 20%)
$text-color-yellow = darken($yellow, 16%)
$text-color-green = darken($green, 10%)
$text-color-blue = darken($blue, 20%)
$text-color-dark-blue = #182433

$text-color-default = #333333
$text-color-light = #999999
$text-color-placeholder = #bbbbbb

// BACKGROUND COLOR
$background-color-red = lighten($red, 38.5%)
$background-color-yellow = lighten($yellow, 44.25%)
$background-color-green = lighten($green, 47%)
$background-color-blue = lighten($blue, 54%)

$background-color-page = #ffffff
$background-color-footer = #0d051a
$background-color-panel = #ffffff
$background-color-app = #f9f9f8
$background-color-header = #f5f5f5
$background-color-input = #ffffff
$background-color-input-contrast = #f5f5f5

// BORDER COLOR
$border-color-red = darken($red, 15%)
$border-color-yellow = darken($yellow, 5%)
$border-color-green = darken($green, 5%)
$border-color-blue = $blue

$border-color-dark = #d9d9d9
$border-color-panel = #e9e9e9
$border-color-light = #eeeeee
$border-color-input = #dfdfdf
$border-color-input-contrast = #dedede
