$max-width = 61.875rem
$min-width = 0rem

$outer-margin = 0.3125rem

$margin-ex-lg = 5rem
$margin-lg = 2.5rem
$margin-default = 1.25rem
$margin-sm = 0.625rem
$margin-ex-sm = 0.3125rem

$padding-ex-lg = $margin-ex-lg
$padding-lg = $margin-lg
$padding-default = $margin-default
$padding-sm = $margin-sm
$padding-ex-sm = $margin-ex-sm

$input-height = 2.125rem
$input-height-sm = 1.75rem
$input-height-lg = 2.5rem
$input-padding-y = $padding-ex-sm/2
$input-margin-x = $margin-ex-sm/2
