@import "global/colors"

.text-danger
  color: $text-color-red

svg.text-danger
  fill: $text-color-red

.text-warning
  color: $text-color-yellow

.text-note,
.text-light
  color: $text-color-light

.text-success
  color: $text-color-green
svg.text-success
  fill: $text-color-green

.text-right
  text-align: right

.logo
  font-size: 1.5rem
  font-weight: 900
  margin: 0

  small
    display: block
    font-size: 55%
    font-weight: 400

a,
button.link
  cursor: pointer
  color: $blue
  text-decoration: none
  outline: 0
  text-align: left
  border: 0
  background: rgba(0, 0, 0, 0)

  svg
    fill: $blue

  &:hover
    color: $black-light

    svg
      color: $black-light

a.link-danger
  color: $red

  svg
    fill: $red

  &:hover
    color: $black-light

    svg
      color: $black-light
